body, html{
	margin:0;
	font-family: 'Roboto Slab', serif;;
}

#canvasDiv{
	text-align: center;
}

#options{
	margin: 10px;
	line-height: 120%;
}

canvas{
	display:inline;
	margin: 20px;
	width:400px;
	height:400px;
	box-shadow: 0 0 2px 0 black;
}

#brushes {
	>label{
		color:white;
		padding: 8px;
		margin: 8px;
		border-radius: 4px;
	}
	>#class1{
		background-color: #FF5400;
		&:hover{
			background-color: #FF9059;
		}
	}
	>#class2{
		background-color: #9900D8;
		&:hover{
			background-color: #CA49FF;
		}
	}
	>#class3{
		background-color: #4444FF;
		&:hover{
			background-color: #8686FF;
		}
	}
}

h1{
	margin-top: 5%;
	margin-bottom: 5%;
	padding-bottom: 2%;
	border: black solid;
	border-width: 0 0 5px 0;
}

#model-selector{
	> div{
		display: inline-block;
		padding: 10px;
		width: 108px;
		height: 160px;
		border-width: 4px;
		border-style: solid;
		border-color: #DDD;
		border-radius: 5px;
		margin: 5px;
		text-align: center;
		background-color: #FFFFFF;
		float: left;

		h4{
			font-size: 14px;
		}

		&.true{
			border-color: #000;
		}

		&:hover{
			border-color: #777;
		}

		img{
			width: 80px;
		}
	}
}